/**------------------------------------------------------------------
[Table of Contents]
*Organized from top to bottom
* Name of section / Search term

1. Background / #Background
2. Quote Machine / #Quotes

------------------------------------------------------------------**/

/* #Background
================================ */
body {
    background: #c3c3c3;
}




/* #Quotes
================================ */
.quotes {
	position: absolute;
	top: 30%;
	bottom: 10%;
	right: -5%;
	left: -5%;
}

.forsimatic {
    padding-top: 1%;
}

.quote-box{
    color: black;
}
